.title {
    font-size: 30px;
    background-color: rgb(24, 218, 224);
    text-transform: uppercase;
}
.info {
    h {
        text-transform: uppercase;
    }
    margin-bottom: 190px;
    margin-top: 60px;
}